.DS_Store
node_modules/
# /dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
media/
*.log
backups/

# Editor directories and files
.idea/
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
db.sqlite3
**/__pycache__
.git.bfg-report
bfg.jar

tmp_test.py
venv