<div class="row">
    <div class="col-sm-12">
        <span>عطف: </span>
        <span> {{ form.local_id }} </span>
    </div>
    <div class="col-sm-12">
        <span>ماه: </span>
        <span> {{ form.get_month_display }} </span>
    </div>
    <div class="col-sm-12">
        <span>تاریخ ثبت: </span>
        <span dir="ltr"> {{ form.date }} </span>
    </div>
    <div class="col-sm-12">
        <span>تاریخ ساهه: </span>
        <span dir="ltr"> {{ form.list_date}} </span>
    </div>
    <div class="col-sm-12">
        <span>تاریخ خروجی: </span>
        <span dir="ltr"> {{ form.export_date }} </span>
    </div>
</div>
