<div class="row form-header">
    {% if form.visitor %}
        <div class="col-xs-12 text-right">
            <span>ویزیتور: </span>
            <span> {{ form.visitor.user.name }} </span>
        </div>
    {% endif %}
    <div class="col-xs-12 text-right">
        <span>شماره موقت: </span>
        <span> {{ form.temporary_code }} </span>
    </div>
    <div class="col-xs-12 text-right">
        <span>شماره قطعی: </span>
        <span> {{ form.code | default:"-" }} </span>
    </div>
    <div class="col-xs-12 ">
        <span>تاریخ : </span>
        <span dir="ltr"> {{ form.date }} </span>
    </div>
    <div class="col-xs-12 text-right">
        <span>ساعت : </span>
        <span dir="ltr"> {{ form.time | date:"G:i" }} </span>
    </div>
</div>
