{% load report_filters %}

{% if not hide_form %}

    <!-- seller in sale form -->
    {% if form.type == 'sale' or form.type == 'backFromBuy' %}
        <div class="row company part">
            {% if not summarized %}
                <div class="col-xs-12">
                    <span>فروشنده: </span>
                    <span> {{ company.name }} </span>
                </div>
                <div class="col-xs-3">
                    <span> کد اقتصادی: </span>
                    <span> {{ company.eghtesadi_code | default:'-' }} </span>
                </div>
                <div class="col-xs-3">
                    <span> شماره ملی: </span>
                    <span> {{ company.shenase | default:'-' }} </span>
                </div>
                <div class="col-xs-3">
                    <span>آدرس: </span>
                    <span> {{ company.address1 | default:'-' }} </span>
                </div>
                <div class="col-xs-3">
                    <span>تلفن: </span>
                    <span> {{ company.phone1 | default:'-' }} </span>
                </div>
            {% endif %}
        </div>
        <hr>
        <div class="row buyer part">
            <div class="col-xs-12">
                <span> خریدار: </span>
                <span> {{ form.account }} </span>
                {% if form.floatAccount %}
                    <span> - </span>
                    <span> حساب شناور: </span>
                    <span> {{ form.account }} </span>
                {% endif %}
            </div>
            {% if not summarized %}
                <div class="col-xs-3">
                    <span> کد اقتصادی: </span>
                    <span> {{ form.account.person.eghtesadiCode | default:'-' }} </span>
                </div>
                <div class="col-xs-3">
                    <span> شماره ملی: </span>
                    <span> {{ form.account.person.meli_code | default:'-' }} </span>
                </div>
                <div class="col-xs-3">
                    <span>آدرس: </span>
                    <span> {{ form.account.person.address1 | default:'-' }} </span>
                </div>
                <div class="col-xs-3">
                    <span>تلفن: </span>
                    <span> {{ form.account.person.phone1 | default:'-' }} </span>
                </div>
            {% endif %}
        </div>
    {% endif %}

    <!-- seller in buy form -->
    {% if form.type == 'buy' or form.type == 'backFromSale' %}
        <div class="row seller">
            <div class="col-xs-6">
                <span> فروشنده: </span>
                <span> {{ form.account }} </span>
            </div>
            {% if form.floatAccount %}
                <div class="col-xs-6">
                    <span> حساب شناور: </span>
                    <span> {{ form.account }} </span>
                </div>
            {% endif %}
            {% if not summarized %}
                <div class="col-xs-3">
                    <span> کد اقتصادی: </span>
                    <span> {{ form.account.person.eghtesadiCode | default:'-' }} </span>
                </div>
                <div class="col-xs-3">
                    <span> شماره ملی: </span>
                    <span> {{ form.account.person.meli_code | default:'-' }} </span>
                </div>
            {% endif %}
        </div>
    {% endif %}

    <hr>
    <div class="row">
        <div class="col-xs-12 ">
            <div class="row">
                <span class="col-xs-2">شرح : </span>
                <span class="col-xs-10"> {{ form.explanation | default:'-' }} </span>
            </div>
        </div>
    </div>

    <div class="row"
         style="margin-top: 15px;">
        <div class="col-xs-12">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>نام کالا</th>
                    <th>واحد</th>
                    {% if show_warehouse %}
                        <th>انبار</th>
                    {% endif %}
                    <th>تعداد</th>
                    {% if not hide_prices %}
                        <th>قیمت واحد</th>
                        <th>مبلغ کل</th>
                        <th>تخفیف (مبلغ)</th>
                        <th>تخفیف (درصد)</th>
                        {% if form.has_tax %}
                            <th>مالیات (مبلغ)</th>
                            <th>مالیات (درصد)</th>
                        {% endif %}
                        <th>جمع فاکتور</th>
                        <th>توضیحات</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% get_ordered_items form as items %}
                {% for item in items %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.ware }}</td>
                        <td>{{ item.unit.name }}</td>
                        {% if show_warehouse %}
                            <td>{{ item.warehouse.name | default:'-' }}</td>
                        {% endif %}
                        <td>{{ item.unit_count | money }}</td>
                        {% if not hide_prices %}
                            <td>{{ item.fee | money }}</td>
                            <td>{{ item.value | money }}</td>
                            <td>{{ item.discountValue | money }}</td>
                            <td>{{ item.discountPercent }}</td>

                            {% if form.has_tax %}
                                <td>{{ item.tax_value | money }}</td>
                                <td>{{ item.tax_percent | money }}</td>
                            {% endif %}

                            <td>{{ item.totalValue | money }}</td>

                        {% endif %}
                        <td>{{ item.explanation }}</td>
                    </tr>
                {% endfor %}
                {% if not hide_prices %}
                    <tr>
                        <th colspan="{% colspan 2 show_warehouse %}">
                            جمع
                        </th>
                        <td>-</td>
                        <td>{{ form.export_data.sums.unit_count | money }}</td>
                        <td>-</td>
                        <td>{{ form.export_data.sums.sum | money }}</td>
                        <td colspan="2">{{ form.export_data.sums.discount | money }}</td>

                        {% if form.has_tax %}
                            <td colspan="2">{{ form.export_data.sums.tax | money }}</td>
                        {% endif %}

                        <td>{{ form.export_data.sums.sum_after_tax | money }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="{% colspan 10 show_warehouse form.has_tax form.has_tax %}"></td>
                    </tr>
                    {% if not hide_remain %}
                        <tr>
                            <td colspan="{% colspan 7 show_warehouse form.has_tax form.has_tax %}"></td>
                            <th>تخفیف</th>
                            <td class="text-left">{{ form.factor_discount | money }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="{% colspan 7 show_warehouse form.has_tax form.has_tax %}"></td>
                            <th>مبلغ فاکتور پس از تخفیف</th>
                            <td class="text-left">{{ form.export_data.totals.sum_after_discount | money }}</td>
                            <td></td>
                        </tr>
                        {% if form.has_tax %}
                            <tr>
                                <td colspan="{% colspan 7 show_warehouse form.has_tax form.has_tax %}"></td>
                                <th>مالیات</th>
                                <td class="text-left">{{ form.taxValue | money }}</td>
                                <td></td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td colspan="{% colspan 7 show_warehouse form.has_tax form.has_tax %}"></td>
                            <th>مبلغ کل فاکتور</th>
                            <td class="text-left">{{ form.total_sum | money }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="{% colspan 7 show_warehouse form.has_tax form.has_tax %}"></td>
                            <th>مانده حساب</th>
                            <td class="text-left" dir="ltr">
                                {% if form.export_data.remains.is_negative %}
                                    <span style="color: red"> - </span>
                                {% endif %}
                                {{ form.export_data.remains.before_factor | money }}
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="{% colspan 7 show_warehouse form.has_tax form.has_tax %}"></td>
                            <th>{{ form.export_data.remains.after_factor_title }}</th>
                            <td class="text-left" dir="ltr">
                                {{ form.export_data.remains.after_factor | money }}
                            </td>
                            <td></td>
                        </tr>
                    {% endif %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

{% if not hide_prices and not hide_expenses and form.expenses.all %}
    <div class="break-after"></div>

    <div class="row form-header">
        <div class="col-xs-12 text-center">
            <h4>هزینه های فاکتور</h4>
        </div>
        <div class="col-xs-12 text-left">
            <span>شماره فاکتور: </span>
            <span> {{ form.code }} </span>
        </div>
        <div class="col-xs-12 text-left">
            <span>تاریخ : </span>
            <span dir="ltr"> {{ form.date }} </span>
        </div>
        <div class="col-xs-12 text-left">
            <span>ساعت : </span>
            <span dir="ltr"> {{ form.time | date:"G:i" }} </span>
        </div>
    </div>

    <div class="row"
         style="margin-top: 15px;">
        <div class="col-xs-12">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>نام هزینه ثابت</th>
                    <th>مبلغ</th>
                    <th>پرداخت کننده</th>
                    <th>حساب شناور</th>
                    <th>توضیحات</th>
                </tr>
                </thead>
                <tbody>
                {% for item in form.expenses.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.expense.name }}</td>
                        <td>{{ item.value | money }}</td>
                        <td>{{ item.account }}</td>
                        <td>{{ item.floatAccount | default:'-' }}</td>
                        <td>{{ item.explanation }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">مجموع</td>
                    <td>{{ form.expensesSum | money }}</td>
                    <td colspan="3"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endif %}


