{% extends 'base.html' %}
{% load report_filters %}

{% block tab_title %}
    {{ title }}
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <body
            {% if print_document %}
                onload="print();"
            {% endif %}
    >
    <div class="container-fluid rtl">
        {% include 'export/export_header.html' with right_header_template=right_header_template user=user company=company form=form %}
    </div>

    {% include content_template with form=form %}
    </body>
{% endblock %}
