{% load report_filters %}

<div class="col-sm-12 mt-3">

    <table class="table table-bordered table-striped">
        <tr>
            <th colspan="6" class="text-center">
                وضعیت اولیه ردیف پیمان {{ contract_row.contract_row }}
            </th>
        </tr>
        <tr>
            <th>ردیف پیمان</th>
            <th>کد و نام کارگاه</th>
            <th>تاریخ شروع قرارداد</th>
            <th>تاریخ پایان قرارداد</th>
            <th>مبلغ اولیه قرارداد</th>
            <th>شناسه ملی واگذار کننده</th>
        </tr>
        <tr>
            <td>{{ contract_row.title }}</td>
            <td>{{ contract_row.workshop.workshop_title }}</td>
            <td>{{ contract_row.from_date }}</td>
            <td>{{ contract_row.initial_to_date }}</td>
            <td>{{ contract_row.round_amount_with_comma }}</td>
            <td>{{ contract_row.assignor_national_code }}</td>

        </tr>
        <tr>
            <th colspan="6" class="text-center">
            </th>
        </tr>
        <tr>
            <th colspan="6" class="text-center">
                تغییرات ردیف پیمان {{ contract_row.contract_row }}
            </th>
        </tr>

        <tr>
            <th>ردیف پیمان</th>
            <th>تاریخ ثبت تعدیل</th>
            <th>تاریخ پایان جدید</th>
            <th>مبلغ تعدیل قرارداد</th>
            <th>نوع تعدیل مبلغ</th>
            <th>توضیحات</th>

        </tr>
        {% for form in forms %}
            <tr>
                {% if form.contract_row %}
                    <td>{{ form.contract_row.title }}</td>
                {% endif %}
                {% if not form.contract_row %}
                    <td class="text-center"> -</td>
                {% endif %}

                <td>{{ form.date }}</td>

                {% if form.change_date %}
                    <td>{{ form.change_date }}</td>
                {% endif %}
                {% if not form.change_date %}
                    <td class="text-center"> -</td>
                {% endif %}

                {% if form.amount_with_comma %}
                    <td>{{ form.amount_with_comma }}</td>
                {% endif %}
                {% if not form.amount_with_comma %}
                    <td class="text-center"> -</td>
                {% endif %}

                {% if form.status_display %}
                    <td>{{ form.status_display }}</td>
                {% endif %}
                {% if not form.status_display %}
                    <td class="text-center"> -</td>
                {% endif %}

                {% if form.explanation %}
                    <td>{{ form.explanation }}</td>
                {% endif %}
                {% if not form.explanation %}
                    <td class="text-center"> -</td>
                {% endif %}


            </tr>
        {% endfor %}
        <tr>
            <th colspan="6" class="text-center">
            </th>
        </tr>
        <tr>
            <th colspan="6" class="text-center">
                وضعیت فعلی ردیف پیمان {{ contract_row.contract_row }}
            </th>
        <tr>
            <th>ردیف پیمان</th>
            <th>کد و نام کارگاه</th>
            <th>تاریخ شروع قرارداد</th>
            <th>تاریخ پایان فعلی قرارداد</th>
            <th>مبلغ فعلی قرارداد</th>
            <th>شناسه ملی واگذار کننده</th>
        </tr>
        </tr>
        <tr>
            <td>{{ contract_row.title }}</td>
            <td>{{ contract_row.workshop.workshop_title }}</td>
            <td>{{ contract_row.from_date }}</td>
            <td>{{ contract_row.now_date }}</td>
            <td>{{ contract_row.round_now_amount_with_comma }}</td>
            <td>{{ contract_row.assignor_national_code }}</td>

        </tr>


    </table>

</div>
