{% load report_filters %}

<div class="col-sm-12 mt-3">

    <table class="table table-bordered table-striped">
        <tr>
            <th colspan="6" class="text-center">
                وضعیت اولیه ردیف پیمان {{ contract_row.contract_row }}
            </th>
        </tr>
        <tr>
            <th>ردیف پیمان</th>
            <th>کد و نام کارگاه</th>
            <th>تاریخ شروع قرارداد</th>
            <th>تاریخ پایان قرارداد</th>
            <th>مبلغ اولیه قرارداد</th>
            <th>شناسه ملی واگذار کننده</th>
        </tr>
            <tr>
            <td>{{ contract_row.title }}</td>
            <td>{{ contract_row.workshop.workshop_title }}</td>
            <td>{{ contract_row.from_date }}</td>
            <td>{{ contract_row.initial_to_date }}</td>
            <td>{{ contract_row.round_amount_with_comma }}</td>
            <td>{{ contract_row.assignor_national_code }}</td>

        </tr>
        <tr>
            <th colspan="6" class="text-center">
            </th>
        </tr>
        <tr>
            <th colspan="6" class="text-center">
                تغییرات ردیف پیمان {{ contract_row.contract_row }}
            </th>
        </tr>

        <tr>
            <th>ردیف پیمان</th>
            <th>تاریخ ثبت تعدیل</th>
            <th>تاریخ پایان جدید</th>
            <th>مبلغ تعدیل قرارداد</th>
            <th>نوع تعدیل مبلغ</th>
            <th>توضیحات</th>

        </tr>
        {% for form in forms %}
        <tr>
            <td>{{ form.contract_row.title }}</td>
            <td>{{ form.date }}</td>
            <td>{{ form.change_date }}</td>
            <td>{{ form.amount_with_comma }}</td>
            <td>{{ form.status_display }}</td>
            <td>{{ form.explanation }}</td>

        </tr>
        {% endfor %}
            <tr>
            <th colspan="6" class="text-center">
            </th>
        </tr>
        <tr>
            <th colspan="6" class="text-center">
                وضعیت فعلی ردیف پیمان {{ contract_row.contract_row }}
            </th>
        <tr>
            <th>ردیف پیمان</th>
            <th>کد و نام کارگاه</th>
            <th>تاریخ شروع قرارداد</th>
            <th>تاریخ پایان قرارداد</th>
            <th>مبلغ اولیه قرارداد</th>
            <th>شناسه ملی واگذار کننده</th>
        </tr>
        </tr>
            <tr>
            <td>{{ contract_row.title }}</td>
            <td>{{ contract_row.workshop.workshop_title }}</td>
            <td>{{ contract_row.from_date }}</td>
            <td>{{ contract_row.to_date }}</td>
            <td>{{ contract_row.round_now_amount_with_comma }}</td>
            <td>{{ contract_row.assignor_national_code }}</td>

        </tr>


    </table>

</div>
