{% load report_filters %}

<div class="col-sm-12 mt-3">
    <table class="table table-bordered table-striped">
        <tr>
            <th class="text-center">
                نام و نام خانوادگی
            </th>
            <td class="text-center">
                {{ forms.personnel.full_name }}
            </td>
            <th class="text-center">
                کد ملی
            </th>
            <td class="text-center">
                {{ forms.personnel.national_code }}
            </td>
            <th class="text-center">
                کد پرسنلی
            <td class="text-center">
                {{ forms.personnel.personnel_code }}
            </td>
        </tr>

    </table>
    <table class="table table-bordered table-striped mt-5">
        <tr>
            <th class="text-center">
                سال حقوق
            </th>
            <th class="text-center">
                تاریخ
            </th>
            <th class="text-center">
                شرح
            </th>
            <th class="text-center">
                پرداخت
            </th>

            <th class="text-center">
                شناسایی
            </th>
            <th class="text-center">
                مانده
            </th>
        </tr>
        {% for item in form %}
            <tr>
            <tr>
                <td class="text-center">
                    {{ forloop.counter }}
                </td>
                <td class="text-center">
                    {{ item.date }}
                </td>
                <td class="text-center">
                    {{ item.explanation }}
                </td>
                <td class="text-center">
                    {{ item.paid_comma }} {% if item.paid < 0 %} - {% endif %}
                </td>
                <td class="text-center">
                    {{ item.amount_comma }} {% if item.amount < 0 %} - {% endif %}
                </td>
                <td class="text-center">
                    {{ item.unpaid_comma }} {% if item.upaid < 0 %} - {% endif %}
            </tr>

        {% endfor %}
    <tr>
        <td colspan="3" class="text-center">
            جمع
        </td>
        <td class="text-center">
            {{ forms.balance_total.paid_total }}
        </td>
        <td class="text-center">
            {{ forms.balance_total.amount_total }}
        </td>
        <td class="text-center">
            {{ forms.balance_total.mande }}
        </td>
    </tr>
    </table>

</div>
