{% load report_filters %}

<div class="col-sm-12 mt-3">
    <table class="center-block">
        <tr>
            <th class="text-center">
                نام و نام خانوادگی : {{ forms.personnel.full_name }}
            </th>
            <td class="text-center">

            </td>
            <th class="text-center">
                کد ملی : {{ forms.personnel.national_code }}
            </th>
            <td class="text-center">

            </td>
            <th class="text-center">
                کد پرسنلی : {{ forms.personnel.personnel_code }}
            <td class="text-center">

            </td>
        </tr>

    </table>
    <table class="table table-bordered table-striped mt-5">
        <tr>
            <th class="text-center">
                ردیف
            </th>
            <th class="text-center">
                تاریخ
            </th>
            <th class="text-center">
                شرح
            </th>
            <th class="text-center">
                پرداخت
            </th>

            <th class="text-center">
                شناسایی
            </th>
            <th class="text-center">
                مانده
            </th>
        </tr>
        {% for item in form %}
                <tr>
                    <td class="text-center">
                        {{ forloop.counter }}
                    </td>
                    <td class="text-center">
                        {{ item.date }}
                    </td>
                    <td class="text-center">
                        {{ item.explanation }}
                    </td>
                    <td class="text-center">
                        {{ item.paid_comma }} {% if item.paid < 0 %} - {% endif %}
                    </td>
                    <td class="text-center">
                        {{ item.amount_comma }} {% if item.amount < 0 %} - {% endif %}
                    </td>
                    <td class="text-center">
                        {{ item.total_comma }} {% if item.total < 0 %} - {% endif %}
                </tr>
        {% endfor %}
        <tr>
            <td colspan="3" class="text-center">
                جمع
            </td>
            <td class="text-center">
                {{ forms.balance_total.paid_total }}
            </td>
            <td class="text-center">
                {{ forms.balance_total.amount_total }}
            </td>
            <td class="text-center">
                {{ forms.balance_total.mande }}
            </td>
        </tr>
    </table>

</div>
