{% load report_filters %}

<div class="col-sm-12 mt-3">
    {% for form in forms %}
        <table class="table table-bordered table-striped">
            <tr>
                <th class="text-center">ردیف</th>
                <th class="text-center">نام و نام خانوادگی</th>
                <th class="text-center"> مبلغ پرداختی</th>
                <th class="text-center">شماره کارت</th>
                <th class="text-center">شماره حساب</th>
                <th class="text-center">شماره شبا</th>
            </tr>
            {% for item in form.bank_report %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td class="text-center">{{ item.name}}</td>
                    <td class="text-center">{{ item.paid}}</td>
                    <td class="text-center">{{ item.card}}</td>
                    <td class="text-center">{{ item.account}}</td>
                    <td class="text-center">{{ item.sheba}}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

</div>


