{% load report_filters %}

<div class="col-sm-12 mt-3">
    <table class="table table-bordered table-striped">

        <tr>
            <th>کارگاه</th>
            <th>ردیف پیمان</th>
            <th>شماره پیمان</th>
            <th>تاریخ پیمان</th>
            <th>تاریخ شروع</th>
            <th>تاریخ پایان</th>
            <th>نام واگذار کننده</th>
            <th>کد ملی واگذار کننده</th>
            <th>کد کارگاه واگذار کننده</th>
            <th> مبلغ اولیه پیمان</th>
            <th> مبلغ فعلی پیمان</th>
            <th>شعبه</th>

        </tr>
        {% for form in forms %}
            <tr>
                <td>{{ form.workshop.name }}</td>
                <td>{{ form.contract_row }}</td>
                <td>{{ form.contract_number }}</td>
                <td>{{ form.registration_date }}</td>
                <td>{{ form.from_date }}</td>
                <td>{{ form.to_date }}</td>
                <td>{{ form.assignor_name }}</td>
                <td>{{ form.assignor_national_code }}</td>
                <td>{{ form.assignor_workshop_code }}</td>
                <td>{{ form.round_amount_with_comma }}</td>
                <td>{{ form.round_now_amount_with_comma }}</td>
                <td>{{ form.branch }}</td>

            </tr>
        {% endfor %}
    </table>
</div>
