{% load report_filters %}

<div class="col-sm-12 mt-3">
    <h4> ماده یک : طرفین قرارداد</h4>
    <span>
         این قرارداد به موجب مواد 7، 8، 9 و 10 قانون کار جمهوری اسلامی ایران بین شرکت/ موسسه :  {{ forms.first.workshop_personnel.workshop }}
        به نمایندگی : {{ forms.first.workshop_personnel.workshop.employer_name }}
        که از این پس کارفرما نامیده می شود و آقای/خانم : {{ forms.first.workshop_personnel.personnel.full_name }}
        فرزند : {{ forms.first.workshop_personnel.personnel.father_name }}
        با کد ملی : {{ forms.first.workshop_personnel.personnel.national_code }}
        متولد :{{ forms.first.workshop_personnel.personnel.date_of_birth }}
        وضعیت تاهل : {{ forms.first.workshop_personnel.personnel.get_marital_status_display }} و تعداد فرزندان :
        {{ forms.first.workshop_personnel.personnel.number_of_childes }}
        و با مدرک تحصیلی : {{ forms.first.workshop_personnel.personnel.get_degree_education_display }}   و به نشانی :
        {{ forms.first.workshop_personnel.personnel.address }} و شماره همراه :
        {{ forms.first.workshop_personnel.personnel.mobile_number_1 }} که از این پس کارگر نامیده می شود منعقد شده که طرفین ملزم به رعایت مفاد قرارداد می باشند.
    </span>
    <h4> ماده دو : موضوع قرارداد</h4>
    <span>
        الف : موضوع کار عبارت است ازانجام خدمات و وظایف شغل:  {{ forms.first.workshop_personnel.work_title }} که کارگر باید به آن اشتغال یابد و جزییات آن از طرف کارفرما مشخص و کتبا به ایشان ابلاغ می گردد و همچنین متعهد است که وظایف محوله را با توجه به ضوابط اجرایی شرکت و با رعایت مقررات به انجام برساند.
    </span>
    <br>
    <span>
ب: کارفرما می‏تواند بنا به ضرورت از شاغل در شغل با پست‏های مشابه استفاده نماید و محل کار، به‏عنوان جایگاه شغلی یا محل خدمت شاغل را در طول مدت قرارداد که بر اساس ساختار مدیریتی شرکت در مواعد مختلف سال اتفاق خواهد افتاد، تغییر دهد.
    </span>
    <br>
    <span>
ج: شاغل ضمن این قرارداد با هر گونه تغییر شغل خود اعم از ارتقاء، تنزل شغل و جابجایی موافقت می‏کند و مزایای دریافتی به تبع شغل جدید پرداخت می‏شود.    </span>

    <h4> ماده سه: مدت قرارداد</h4>
    <span>
مدت قرارداد از تاریخ  {{ forms.first.contract_from_date }}  الی  {{ forms.first.contract_to_date }}  خواهد بود.    </span>
    <h4> ماده چهار: ساعت کار</h4>
    <span>
به استناد ماده 51 قانون کار، ساعت مفید کار طی هر هفته 44 ساعت می باشد و در صورت نیاز کارفرما، کارگر با دریافت اضافه کاری موظف به انجام اضافه کاری حداکثر به میزان 4 ساعت در روز می باشد.
تبصره: مدت زمان استراحت و صرف غذا و ایاب و ذهاب و موارد مشابه به استثنای ادای فریضه نماز جزء ساعات کار مفید طی روز محسوب نمی گردد.
        </span>

    <h4> ماده پنج: محل انجام کار</h4>
    <span>
محل انجام کار عبارت است:
تبصره: در صورت نیاز به انجام کار یا  ماموریت در خارج از محل  کار و محل ذکر شده، کارگر با هماهنگی با کارفرما موظف به انجام آن می باشد.
    </span>
    <h4> ماده شش: حقوق و مزایا</h4>
    <span>
        دستمزد روزانه: {{ forms.first.find_hr.hoghooghe_roozane_amount }} ریال
    </span>
    <br>
    حقوق ماهانه (برای ماه های 30 روزه) : {{ forms.first.find_hr.hoghoogh_mahanae }}ریال
    <br>
    <span>
كمك هزينه اقلام مصرفي خانوار (بن كارگري ماهيانه): {{ forms.first.find_hr.bon_kharo_bar_amount }}    </span>
    <br>
    <span>
كمك هزينه مسكن(ماهيانه) {{ forms.first.find_hr.haghe_maskan_amount }}  ریال    </span>
    <br>
    <span>
پايه سنواتي روزانه ( برای اشتغال پس از یکسال کارکرد در این کارگاه، قابل اعمال می‏باشد.): {{ forms.first.find_hr.paye_sanavat_amount }}ریال
    </span>
    <br>
    <span>
كمك هزينه عائله مندي(حق اولاد)براي هرفرزند (ماهيانه) مطابق با شرایط اعلامی در ماده 86 قانون تأمین اجتماعی: {{forms.first.find_hr.get_aele_mandi_amount}}    </span>
    <br>
    <span>
تبصره: مجموع حقوق و مزایای ماهانه به شماره کارت {{forms.first.workshop_personnel.personnel.bank_cart_number}} بانک  {{forms.first.workshop_personnel.personnel.account_bank_name}}  که بنام کارگر می باشد، پرداخت می شود.    </span>
<h4>
    ماده هفت: مرخصی و تعطیلات و مأموریت
</h4>
ه استنادماده 64 قانون کار مرخصی استحقاقی سالانه کارگران با استفاده از مزد و احتساب چهار روز جمعه ،
    <br>
2.	با توجه به ماده  66 قانون کار، کارگر نمی تواند بیش از 9 روز از مرخصی سالانه خود را ذخیره کند .
    <br>
2.	با توجه به ماده  66 قانون کار، کارگر نمی تواند بیش از 9 روز از مرخصی سالانه خود را ذخیره کند .
    <br>
3.
            تاریخ استفاده از مرخصی با توافق کارگر و کارفرما تعیین می شود. لذا مرخصی بدون موافقت کارفرما، غیبت محسوب می گردد.
    <br>
4.	کارگر طبق ماده 73 قانون کار در موارد ذیل حق برخورداری از سه روز مرخصی با استفاده از مزد را دارند .
                        <br>

     الف- ازدواج دایم .
            <br>
     ب- فوت همسر ، پدر ، مادر و فرزندان .
<br>
5.	به استناد ماده 74 قانون کار، مدت مرخصی استعلاجی ، با تایید سازمان تامین اجتماعی ، جزو سوابق کار و بازنشستگی کارگران محسوب خواهد شد .همچنین مزد ایام استعلاجی توسط سازمان تامین اجتماعی پرداخت میگردد و پرداخت مزد ایام ذکر شده در این ماده، هیچ ارتباطی با کارفرما ندارد.
<br/>
6.	در صورت غیبت و یا انجام مرخصی بدون حقوق توسط کارگر، کارفرما دستمزد هر روز غیبت را از حقوق ماهیانه ایشان کسر می نماید. در صورتی که غیبت ایشان باعث خسران و ضرر و زیان کارفرما گردد،خسارت وارده می بایست توسط کارگر پرداخت گردد.
<br/>
7.	مأموریت کارگران که با ابلاغ رسمی کارفرما انجام می‏پذیرد، مطابق با ماده 46 قانون کار قابل محاسبه و پرداخت می‏باشد.
    <h4>ماده هشت: تعهدات کارفرما</h4>
    <span>
        1.	تمامی حقوق و مزایای ذکر شده در ماده شش را برابر با مقررات قانون کار ، قانون تامین اجتماعی و قانون مالیات های مستقیم پرداخت نماید.
<br>
        2.	کارفرما موظف است طبق ماده 148 قانون کار، کارگر را نزد سازمان تامین اجتماعی، طبق کارکرد مؤثر کارگر، بیمه نماید.
<br>
        3.	کارفرما موظف است سایر مزایای مندرج در قانون کار از جمله حق سنوات و عیدی سالانه را طبق قانون پرداخت نماید.
</span>
        <h4>ماده نه: تعهدات کارگر</h4>
    <span>
        1.	کارگر موظف است در حین امضای این قرارداد، آیین نامه مقررات عمومی کارگاه را مطالعه نموده و سپس آنرا امضاء نماید. ایشان موظف است که همزمان با آغاز قرارداد مطالب و موارد این آیین نامه را به بحو احسن اجرا نماید.
<br>
        2.	کارگر موظف است که وظایف محوله را به نحو احسن انجام داده و تمامی مقررات و اصول ایمنی و مراقبتی را رعایت و طبق آموزشهایی که به ایشان داده شده تمامی قوانین را الزاما رعایت نماید.
<br>

        3.	کلیه قوانین و مقررات انضباطی، بهداشتی، رعایت شئونات اسلامی، نظم حین کار، نگهداری از اموال تحویلی، عدم مداخله در امور مربوط به سایر واحدها و کارکنان و همچنین ورود و خروج منظم به محل کار را به نحو احسن رعایت نماید.
<br>

        4.	کارگر می بایست از ایجاد اخلال و بی نظمی ، ناراحتی و تشویش کارکنان و یا هر ترتیب و یا فعل و انفعالی که سبب رکود و یا تعطیلی کار گردد، خودداری نماید.
<br>

        5.	تمامی آمار و اطلاعات موجود در محل کار و موضوع قرارداد محرمانه بوده و کارگر با هماهنگی کارفرما فقط میتواند این اطلاعات را در اختیار کارفرما قرار دهد. ضمنا کارگر متعهد می شود که از افشا، بکارگیری و نشر آنها به افراد غیر مجاز خودداری نماید و نسبت به کلیه اطلاعات رازدار باشد.
<br>

        6.	اطلاعات محرمانه شامل قیمتها ، نقشه های فنی، کارکرد ماشین آلات، محاسبات فنی و مهندسی و مالی و حسابداری، قراردادهای مشتریان و فروشندگان، اطلاعات مربوط به مشتریان، موارد مربوط به فروش و بازاریابی و سایر اطلاعات مربوط به شغل ویا کارفرما میگردد.
<br>

        7.	در صورت اتمام همکاری کارگر با کارفرما، کارگر موظف به تحویل تمامی اسناد، مدارک، وسایل، تجهیزات و سایر مواردی که کارفرما در اختیار وی گذاشته است می باشد.
<br>

        8.	عواقب عدم رعایت موارد مطروحه در این ماده که منجر به حادثه و یا بروز مشکلات حقوقی و یا کیفری و یا هرگونه مشکل و اختلافی گردد، بر عهده کارگر خاطی بوده و ایشان ملزم به جبران خسارت می باشد و کارفرما نسبت به این موارد هیچگونه مسئولیتی ندارد.
<br>

        9.	حراست، صیانت و نگهداری از اموال، تجهیزات، وسایل، امکانات، وجوهات نقد، اسنادومدارک و اوراق‏بهادار سپرده شده به کارگر توسط وی باید به بهترین نحو صورت پذیرد و عواقب هرگونه کوتاهی و یا سهل‏انگاری بر عهده وی می‏باشد.
<br>

        10.	شاغل موظف است قبل از اتمام قرارداد و تسویه حساب نهایی چنانچه آموزشی و یا مواردی هست که می‏بایست به نیروی جایگزین آموزش دهد، این مهم را بدون هیچ قید و شرطی انجام دهد و تمامی اطلاعات خود را به نیروی جایگزین که از طرف کارفرما معرفی می‏گردد، انتقال دهد.
<br>

        11.	شاغل به مقدار....................... ریال سفته بابت ضمانت حسن انجام‏کار و حفظ و حراست از اموال، اثاثیه و اسناد ومدارک کارفرما که در اختیار او است و باید از انها نگهداری کند، به کارفرما تحویل داده که عندالزوم  مورد استفاده برای احقاق حق کارفرما بکارگرفته شود.
<br>

        12.	شاغل در زمان انقضای مدت قرارداد و یا انحلال قرارداد مکلف است کلیه مطالب شرکت از جمله وام و مساعده دریافتی از شرکت را تسویه نماید. شایان ذکر است که بعد از تسویه حساب و اخذ برگ تسویه نهایی استرداد اسناد و اوراق‏بهادار ضمانتی نزد شرکت، به شاغل مسترد خواهد شد.

    </span>
    <h4>ماده ده: فسخ قرارداد</h4>
    <span>
        1.	در صورت کاهش تولید و تغییرات در شرایط اقتصادی، اجتماعی، سیاسی و همچنین مثبت بودن اعتیاد ، عدم انجام تعهدات کاری، و یا انجام تخلفات مالی، حقوقی و یا تخلفاتی که جنبه کیفری دارند و همچنین عدم رعایت مقررات داخلی، کارفرما مجاز است با هماهنگی شورای اسلامی کار با پرداخت مطالبات قانونی به نسبت کارکرد، این قرارداد را فسخ نماید.
        <br>
        2.	در صورتیکه کارگر استعفا نماید موظف است بدواً استعفای خود را به صورت کتبی به کارفرما اطلاع دهد و تا حداکثر یکماه پس از آن در صورت نیاز کارفرما به کار خود ادامه دهد.
    </span>
    <h4>ماده یازده: سایر موارد</h4>
    <span>
        1.	در مواردیکه که به واسطه قوه قهریه و فورس ماژور و یا بروز حوادث غیرقابل پیش بینی و یا سایر موارد پیش بینی نشده در این قرارداد تمام و یا قسمتی از کارگاه ویا شرکت تعطیل شود، مقررات قانون کار و تامین اجتماعی حاکم خواهد بود.
        <br>
        2.	کارفرما مجاز است در صورت ایجاد خسارت، اعم از مادی و معنوی توسط کارگر بر اثر هرگونه سهل انگاری، تخلف، عدم رازداری و یا سایر موارد با طرح دعوی و شکایت در مراجع صالح قضایی احقاق حق نماید.
    </span>

<br>    <br>
    <h6 class="mt-xl-5">
این قرارداد در تاریخ........................................در 11 ماده و در دو نسخه تنظیم گردید که هر دو نسخه حکم واحد بوده و به امضاء طرفین رسید.
    </h6>
<br>
    <br>
    <br>
    <br>
    <br>
    <h5>
        امضا کارفرما....................................امضاء کارگر.........................................
    </h5>
</div>
