{% load report_filters %}

<div class="col-sm-12 mt-3">
    {% for form in forms %}
        <table class="table table-bordered table-striped">
            {% if form.is_template == 'p' %}
                <tr>
                    <th class="text-center"> پرسنل : {{ form.contract_info.personnel_name }}</th>
                    <th class="text-center"> کارگاه : {{ form.contract_info.workshop_name }}</th>
                    <th class="text-center">شماره قرارداد : {{ form.contract.code }}</th>
                    <th class="text-center"> شروع </th>
                    <th class="text-center"> {{ form.contract.contract_from_date }}</th>
                    <th class="text-center"> پایان </th>
                    <th class="text-center">{{ form.contract.contract_to_date }}</th>

                </tr>
            {% endif %}
            {% if form.is_template == 't' %}
                <tr>
                    <th class="text-center" colspan="8"> قالب {{ form.name }}</th>

                </tr>
            {% endif %}
            <tr class="bad-font-color">
                <th class="text-center" colspan="4">عنوان</th>
                <th class="text-center" colspan="4">مبلغ</th>
            </tr>
            <tr class="bad-font-color">
                <td class="text-center" colspan="4">حداقل مزد روزانه</td>
                <td class="text-center" colspan="4">{{ form.hoghooghe_roozane_amount_with_comma }} </td>
            </tr>

            <tr class="bad-font-color">
                <td class="text-center" colspan="4">پایه سنوات روزانه</td>
                <td class="text-center" colspan="4">{{ form.paye_sanavat_amount_with_comma }} </td>
            </tr>

            <tr class="bad-font-color">
                <td class="text-center" colspan="4">حق مسکن</td>
                <td class="text-center" colspan="4">{{ form.haghe_maskan_amount_with_comma }} </td>
            </tr>

            <tr class="bad-font-color">
                <td class="text-center" colspan="4">بن خار و بار</td>
                <td class="text-center" colspan="4">{{ form.bon_kharo_bar_amount_with_comma }} </td>
            </tr>

            <tr class="bad-font-color">
                <td class="text-center" colspan="4">حق سرپرستی</td>
                <td class="text-center" colspan="4">{{ form.haghe_sarparasti_amount_with_comma }} </td>
            </tr>

            <tr class="bad-font-color">
                <td class="text-center" colspan="4">حق مدیریت</td>
                <td class="text-center" colspan="4">{{ form.haghe_modiriyat_amount_with_comma }} </td>
            </tr>

            <tr class="bad-font-color">
                <td class="text-center" colspan="4">حق جذب</td>
                <td class="text-center" colspan="4">{{ form.haghe_jazb_amount_with_comma }} </td>
            </tr>

            <tr class="bad-font-color">
                <td class="text-center" colspan="4">فوق العاده شغل</td>
                <td class="text-center" colspan="4">{{ form.fogholade_shoghl_amount_with_comma }} </td>
            </tr>

            <tr class="bad-font-color">
                <td class="text-center" colspan="4">حق تحصیلات</td>
                <td class="text-center" colspan="4">{{ form.haghe_tahsilat_amount_with_comma }} </td>
            </tr>

            <tr class="bad-font-color">
                <td class="text-center" colspan="4">فوق العاده سختی کار</td>
                <td class="text-center" colspan="4">{{ form.fogholade_sakhti_kar_amount_with_comma }} </td>
            </tr>

            <tr class="bad-font-color">
                <td class="text-center" colspan="4">حق آنکال</td>
                <td class="text-center" colspan="4">{{ form.haghe_ankal_amount_with_comma }} </td>
            </tr>

            <tr class="bad-font-color">
                <td class="text-center" colspan="4">فوق العاده بدی هوا</td>
                <td class="text-center" colspan="4">{{ form.fogholade_badi_abohava_amount_with_comma }} </td>
            </tr>

            <tr class="bad-font-color">
                <td class="text-center" colspan="4">محرومیت از تسحیلات</td>
                <td class="text-center" colspan="4">{{ form.mahroomiat_tashilat_zendegi_amount_with_comma }} </td>
            </tr>

            <tr class="bad-font-color">
                <td class="text-center" colspan="4">فوق العاده محل خدمت</td>
                <td class="text-center" colspan="4">{{ form.fogholade_mahal_khedmat_amount_with_comma }} </td>
            </tr>

            <tr class="bad-font-color">
                <td class="text-center" colspan="4">فوق العاده محیط کار</td>
                <td class="text-center" colspan="4">{{ form.fogholade_sharayet_mohit_kar_amount_with_comma }} </td>
            </tr>

            <tr class="bad-font-color">
                <td class="text-center" colspan="4">ایاب و ذهاب</td>
                <td class="text-center" colspan="4">{{ form.ayabo_zahab_amount_with_comma }} </td>
            </tr>

            <tr class="bad-font-color">
                <td class="text-center" colspan="4">یارانه غذا</td>
                <td class="text-center" colspan="4">{{ form.yarane_ghaza_amount_with_comma }} </td>
            </tr>

            <tr class="bad-font-color">
                <td class="text-center" colspan="4">حق شیر</td>
                <td class="text-center" colspan="4">{{ form.haghe_shir_amount_with_comma }} </td>
            </tr>

            <tr class="bad-font-color">
                <td class="text-center" colspan="4">حق تاهل</td>
                <td class="text-center" colspan="4">{{ form.haghe_taahol_amount_with_comma }} </td>
            </tr>

            <tr class="bad-font-color">
                <td class="text-center" colspan="4">کمک هزینه مهدکودک</td>
                <td class="text-center" colspan="4">{{ form.komakhazine_mahdekoodak_amount_with_comma }} </td>
            </tr>

            <tr class="bad-font-color">
                <td class="text-center" colspan="4">کمک هزینه ورزش</td>
                <td class="text-center" colspan="4">{{ form.komakhazine_varzesh_amount_with_comma }} </td>
            </tr>

            <tr class="bad-font-color">
                <td class="text-center" colspan="4">کمک هزینه موبایل</td>
                <td class="text-center" colspan="4">{{ form.komakhazine_mobile_amount_with_comma }} </td>
            </tr>

            <tr class="bad-font-color">
                <td class="text-center" colspan="4">مزایای مستمر غیرنقدی</td>
                <td class="text-center" colspan="4">{{ form.mazaya_mostamar_gheyre_naghdi_amount_with_comma }} </td>
            </tr>
            <tr class="bad-font-color">
                <td class="text-center" colspan="4">نهایی</td>
                <td class="text-center" colspan="4">{{ form.verify_display }} </td>
            </tr>


        </table>
    {% endfor %}
</div>
