{% extends 'base.html' %}
{% load report_filters %}

{% block tab_title %}
    {{ title }}
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <body
            {% if print_document %}
{#                onload="setTimeout(print, 500);"#}
            {% endif %}
    >
    <div class="container-fluid rtl">

        {% include 'export/export_header.html' with right_header_template=right_header_template user=user company=company form=form %}

        {% if additional_data %}
            <div class="row mb-3">
                {% for data in additional_data %}
                    <div class="col-xs-6">
                        <span>{{ data.text }}:</span>
                        <span>{{ data.value }}</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="row mb-3">
            {% for filter in filters %}
                <div class="col-xs-3">
                    <span>{{ filter.text }}:</span>
                    <span>{{ filter.value }}</span>
                </div>
            {% endfor %}
        </div>

        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                {% for text in headers %}
                    <th>{{ text }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    {% for value in values %}
                        {% autoescape off %}
                            <td>{% get_value row value raw_headers %}</td>
                        {% endautoescape %}
                    {% endfor %}
                </tr>
            {% endfor %}

            {% for row in appended_rows %}
                <tr>
                    <td></td>
                    {% for value in values %}
                        {% autoescape off %}
                            <td>{% get_value row value raw_headers %}</td>
                        {% endautoescape %}
                    {% endfor %}
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>
    </body>

{% endblock %}
