{% load report_filters %}

<div class="col-sm-12 mt-3">
    <table class="table table-bordered table-striped">
        <tr>
            <th>پرسنل در کارگاه</th>
            <th>نوع</th>
            <th>مبلغ</th>
            <th>تعداد قسط</th>
            <th>مبلغ قسط</th>
            <th>تاربخ پرداخت</th>
            <th>تاربخ سررسید</th>
            <th>اقساط پرداخت شده</th>
            <th>تصفیه شد</th>

        </tr>
        {% for form in forms %}
            <tr>
                <td class="text-center">{{ form.workshop_personnel.my_title }}</td>
                <td class="text-center">{{ form.get_loan_type_display }}</td>
                <td class="text-center">{{ form.amount }}</td>
                <td class="text-center">{{ form.episode }}</td>
                <td class="text-center">{{ form.get_pay_episode }}</td>
                <td class="text-center">{{ form.pay_date }}</td>
                <td class="text-center">{{ form.end_date }} </td>
                <td class="text-center">{{ form.episode_payed }}</td>
                {% if form.pay_done %}
                    <td >بله</td>
                {% endif %}
                {% if not form.pay_done %}
                    <td >خیر</td>
                {% endif %}

            </tr>
        {% endfor %}
    </table>
</div>
