{% load report_filters %}

<div class="col-sm-12 mt-3">
    {% for form in forms %}
        {% if form.loan_type == 'd' %}
            <table class="table table-bordered table-striped">
                <tr>
                    <td colspan="5">
                        <h5 class="mr-3">
                            جناب آقا/خانم {{ form.workshop_personnel.workshop.employer_name }} ، مدیریت محترم شرکت
                            {{ company.name }}
                        </h5>
                        <br>
                        <h6 class="mr-3 mt-2">
                            سلام علیکم
                        </h6>
                        <h6 class="mr-5">
                            احترامأ اینجانب {{ form.workshop_personnel.personnel.full_name }} با کد
                            ملی {{ form.workshop_personnel.personnel.national_code }} درخواست مساعده به
                            مبلغ {{ form.round_amount_with_comma }} ریال با بازپرداخت
                            {{ form.episode }} .قسط/ روز را از جنابعالی دارم. لذا در صورت امکان دستور مقتضی را صادر
                            فرمائید. </h6>
                        </h6>
                        <br>
                        <br>
                        <h6 class="text-left ml-lg-5 mb-lg-5">
                            امضاء درخواست کننده
                            <br>
                            <br>
                            تاریخ..................
                        </h6>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <h5 class="mr-3">
                            جناب آقا/خانم ................... حسابدار محترم شرکت
                            {{ company.name }}
                        </h5>
                        <br>
                        <h6 class="mr-5">
                            احتراما مبلغ ............................ ریال به حروف
                            .............................................................ریال را تحت عنوان مساعده از محل
                            بانک ...................... </h6>
                        </h6>
                        <h6 class="mr-5">
                            به شماره حساب .................................... طی ......... قسط/ روز به نامبرده فوق
                            پرداخت
                            نمایید.
                        </h6>
                        <br>
                        <br>
                        <h6 class="text-left ml-lg-5 mb-lg-5">
                            امضاء مدیر شرکت
                            <br>
                            <br>
                            تاریخ..................
                        </h6>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <h5 class="mr-3">
                            جناب آقا/خانم {{ form.workshop_personnel.workshop.employer_name }} ، مدیریت محترم
                        </h5>
                        <br>
                        <h6 class="mr-5">
                            احتراما بدینوسیله به استحضار می‏رساندکه با توجه به درخواست آقای/
                            خانم {{ form.workshop_personnel.personnel.full_name }} و دستور جنابعالی مبلغ
                            احتراما اینجانب {{ form.round_amount_with_comma }}ریال
                        </h6>
                        </h6>
                        <h6 class="mr-5">
                            از بانک...................................... به شماره حساب
                            ...........................................................
                        </h6>
                        <h6 class="mr-5">
                            در تاریخ............/..................../....................... با شماره
                            پیگیری........................................ به عنوان مساعده به ایشان پرداخت گردید.
                        </h6>
                        <br>
                        <br>
                        <h6 class="text-left ml-lg-5 mb-lg-5">
                            امضاء حسابدار <br>
                            <br>
                            تاریخ..................
                        </h6>
                    </td>
                </tr>

            </table>

        {% endif %}

        {% if form.loan_type == 'l' %}
            <table class="table table-bordered table-striped">

                <tr>
                    <td colspan="5">
                        <h5 class="mr-3">
                            جناب آقا/خانم {{ form.workshop_personnel.workshop.employer_name }} ، مدیریت محترم شرکت
                            {{ company.name }}
                        </h5>
                        <br>
                        <h6 class="mr-3 mt-2">
                            سلام علیکم
                        </h6>
                        <h6 class="mr-5">
                            احترامأ اینجانب {{ form.workshop_personnel.personnel.full_name }} با کد
                            ملی {{ form.workshop_personnel.personnel.national_code }} درخواست وام به
                            مبلغ {{ form.round_amount_with_comma }} ریال با بازپرداخت
                            {{ form.episode }} .قسط/ روز را از جنابعالی دارم. لذا در صورت امکان دستور مقتضی را صادر
                            فرمائید. </h6>
                        </h6>
                        <br>
                        <br>
                        <h6 class="text-left ml-lg-5 mb-lg-5">
                            امضاء درخواست کننده
                            <br>
                            <br>
                            تاریخ..................
                        </h6>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <h5 class="mr-3">
                            جناب آقا/خانم ................... حسابدار محترم شرکت
                            {{ company.name }}
                        </h5>
                        <br>
                        <h6 class="mr-5">
                            احتراما مبلغ ............................ ریال به حروف
                            .............................................................ریال را تحت عنوان وام از محل
                            بانک ...................... </h6>
                        </h6>
                        <h6 class="mr-5">
                            به شماره حساب .................................... طی ......... قسط/ روز به نامبرده فوق
                            پرداخت
                            نمایید.
                        </h6>
                        <br>
                        <br>
                        <h6 class="text-left ml-lg-5 mb-lg-5">
                            امضاء مدیر شرکت
                            <br>
                            <br>
                            تاریخ..................
                        </h6>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <h5 class="mr-3">
                            جناب آقا/خانم {{ form.workshop_personnel.workshop.employer_name }} ، مدیریت محترم
                        </h5>
                        <br>
                        <h6 class="mr-5">
                            احتراما بدینوسیله به استحضار می‏رساندکه با توجه به درخواست آقای/
                            خانم {{ form.workshop_personnel.personnel.full_name }} و دستور جنابعالی مبلغ
                            احتراما اینجانب {{ form.round_amount_with_comma }}ریال
                        </h6>
                        </h6>
                        <h6 class="mr-5">
                            از بانک...................................... به شماره حساب
                            ...........................................................
                        </h6>
                        <h6 class="mr-5">
                            در تاریخ............/..................../....................... با شماره
                            پیگیری........................................ به عنوان وام به ایشان پرداخت گردید.
                        </h6>
                        <br>
                        <br>
                        <h6 class="text-left ml-lg-5 mb-lg-5">
                            امضاء حسابدار <br>
                            <br>
                            تاریخ..................
                        </h6>
                    </td>
                </tr>

            </table>

        {% endif %}
    {% endfor %}
</div>
