{% load report_filters %}

<div class="col-sm-12 mt-3">
    <table class="table table-bordered table-striped">
        <tr>
            <th>پرسنل در کارگاه</th>
            <th>نوع</th>
            <th>مبلغ</th>
            <th>تعداد قسط</th>
            <th>مبلغ قسط</th>
            <th>تاربخ پرداخت</th>
            <th>تاربخ سررسید</th>
            <th>اقساط پرداخت شده</th>
            <th>تصفیه شد</th>
            <th>نهایی</th>

        </tr>
        {% for form in forms %}
            <tr>
                {% if form.workshop_personnel %}
                    <td>{{ form.workshop_personnel.my_title }}</td>
                {% endif %}
                {% if not form.workshop_personnel %}
                    <td class="text-center"> -</td>
                {% endif %}

                {% if form.get_loan_type_display %}
                    <td>{{ form.get_loan_type_display }}</td>
                {% endif %}
                {% if not form.get_loan_type_display %}
                    <td class="text-center"> -</td>
                {% endif %}

                {% if form.amount %}
                    <td>{{ form.amount }}</td>
                {% endif %}
                {% if not form.amount %}
                    <td class="text-center"> -</td>
                {% endif %}

                {% if form.episode %}
                    <td>{{ form.episode }}</td>
                {% endif %}
                {% if not form.episode %}
                    <td class="text-center"> -</td>
                {% endif %}

                {% if form.get_pay_episode %}
                    <td>{{ form.get_pay_episode }}</td>
                {% endif %}
                {% if not form.get_pay_episode %}
                    <td class="text-center"> -</td>
                {% endif %}

                {% if form.pay_date %}
                    <td>{{ form.pay_date }}</td>
                {% endif %}
                {% if not form.pay_date %}
                    <td class="text-center"> -</td>
                {% endif %}

                {% if form.end_date %}
                    <td>{{ form.end_date }}</td>
                {% endif %}
                {% if not form.end_date %}
                    <td class="text-center"> -</td>
                {% endif %}

                {% if form.episode_payed %}
                    <td>{{ form.episode_payed }}</td>
                {% endif %}
                {% if not form.episode_payed %}
                    <td class="text-center"> -</td>
                {% endif %}

                {% if form.pay_done %}
                    <td>بله</td>
                {% endif %}
                {% if not form.pay_done %}
                    <td>خیر</td>
                {% endif %}
                <td class="text-center">{{ form.verify_display }}</td>


            </tr>
        {% endfor %}
    </table>
</div>
