{% load report_filters %}

<div class="col-sm-12 mt-3">
    <table class="table table-bordered table-striped">

        <tr>
            <th>پرسنل در کارگاه</th>
            <th>نوع ماموریت</th>
            <th>موضوع</th>
            <th>از تاربخ</th>
            <th>تا تاربخ</th>
            <th> تاربخ</th>
            <th>از ساعت</th>
            <th>تا ساعت</th>
            <th>مکان</th>
            <th>توضیحات</th>
            <th>نهایی</th>
        </tr>
        {% for form in forms %}
            <tr>
                {% if form.workshop_personnel %}
                    <td>{{ form.workshop_personnel.my_title }}</td>
                {% endif %}
                {% if not form.workshop_personnel.my_title %}
                    <td class="text-center"> -</td>
                {% endif %}

                {% if form.get_mission_type_display %}
                    <td>{{ form.get_mission_type_display }}</td>
                {% endif %}
                {% if not form.get_mission_type_display %}
                    <td class="text-center"> -</td>
                {% endif %}

                {% if form.topic %}
                    <td>{{ form.topic }}</td>
                {% endif %}
                {% if not form.topic %}
                    <td class="text-center"> -</td>
                {% endif %}

                {% if form.from_date %}
                    <td>{{ form.from_date }}</td>
                {% endif %}
                {% if not form.from_date %}
                    <td class="text-center"> -</td>
                {% endif %}

                {% if form.to_date %}
                    <td>{{ form.to_date }}</td>
                {% endif %}
                {% if not form.to_date %}
                    <td class="text-center"> -</td>
                {% endif %}

                {% if form.date %}
                    <td>{{ form.date }}</td>
                {% endif %}
                {% if not form.date %}
                    <td class="text-center"> -</td>
                {% endif %}

                {% if form.from_hour %}
                    <td>{{ form.from_hour }}</td>
                {% endif %}
                {% if not form.from_hour %}
                    <td class="text-center"> -</td>
                {% endif %}

                {% if form.to_hour %}
                    <td>{{ form.to_hour }}</td>
                {% endif %}
                {% if not form.to_hour %}
                    <td class="text-center"> -</td>
                {% endif %}

                {% if form.location %}
                    <td>{{ form.location }}</td>
                {% endif %}
                {% if not form.location %}
                    <td class="text-center"> -</td>
                {% endif %}

                {% if form.explanation %}
                    <td>{{ form.explanation }}</td>
                {% endif %}
                {% if not form.explanation %}
                    <td class="text-center"> -</td>
                {% endif %}

                <td>{{ form.verify_display }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
