{% load report_filters %}

<div class="col-sm-12 mt-3">
    {% for form in forms %}

        <table class="table table-bordered table-striped">

            <tr>
                <th colspan="6" class="text-center"> شرکت : {{ company.name }}</th>
            </tr>
            <tr>
                <th class="text-center"> کد پرسنلی :</th>
                <td class="text-center">   {{ form.workshop_personnel.personnel.personnel_code }}</td>
                <th colspan="2" class="text-center"> ریزکارکرد ماه :</th>
                <td colspan="1" class="text-center"></td>
                <td colspan="1" class="text-center"></td>
            </tr>
            <tr>
                <th class="text-center"> نام و نام خانوادگی پرسنل :</th>
                <td colspan="2" class="text-center">   {{ form.workshop_personnel.personnel.full_name }}</td>
                <th class="text-center"> شماره حساب :</th>
                <td colspan="2" class="text-center"> {{ form.workshop_personnel.personnel.account_bank_number }}</td>
            </tr>
            <tr>
                <th colspan="2" class="text-center"> کارکرد</th>
                <th colspan="2" class="text-center"> اضافات(ريال)</th>
                <th colspan="2" class="text-center"> کسورات(ريال)</th>
            </tr>
            <tr>
                <th class="text-center"> کارکرد عادی(روز)</th>
                <th class="text-center"> {{ form.normal_worktime }} </th>
                <th class="text-center"> حقوق پایه</th>
                <th class="text-center"> {{ form.hoghoogh_mahane_with_comma }} </th>
                <th class="text-center"> بیمه تامین اجتماعی</th>
                <th class="text-center"> {{ form.haghe_bime_bime_shavande_with_comma }}</th>
            </tr>
            <tr>
                <th class="text-center"> کارکرد اضافه کاری (ساعت)</th>
                <th class="text-center"> {{ form.ezafe_kari }} </th>
                <th class="text-center"> مبلغ اضافه کاری</th>
                <th class="text-center"> {{ form.ezafe_kari_total_with_comma }} </th>
                <th class="text-center">مالیات</th>
                <th class="text-center"> {{ form.calculate_month_tax_with_comma }} </th>
            </tr>
            <tr>
                <th class="text-center"> تعطیل کاری (ساعت)</th>
                <th class="text-center"> {{ form.tatil_kari }} </th>
                <th class="text-center"> مبلغ تعطیل کاری</th>
                <th class="text-center"> {{ form.tatil_kari_total_with_comma }} </th>
                <th class="text-center">سایر بدهی ها</th>
                <th class="text-center"> 0</th>
            </tr>
            <tr>
                <th class="text-center"> کسر کار (ساعت)</th>
                <th class="text-center"> {{ form.kasre_kar }} </th>
                <th class="text-center">حق مسکن</th>
                <th class="text-center"> {{ form.haghe_maskan }}</th>
                <th class="text-center"> مبلغ کسر کار</th>
                <th class="text-center"> {{ form.kasre_kar_total_with_comma }} </th>

            </tr>
            <tr>
                <th class="text-center"> غیبت</th>
                <th class="text-center"> {{ form.absence_day }} </th>
                <th class="text-center">حق خوار و بار (بن کارگری)</th>
                <th class="text-center"> {{ form.kharo_bar }}</th>
                <th class="text-center"> سایر کسورات</th>
                <th class="text-center"> {{ form.sayer_kosoorat_with_comma }} </th>

            </tr>
            <tr>
                <th class="text-center"> تعداد اولاد</th>
                <th class="text-center"> {{ form.get_aele_mandi_info }} </th>
                <th class="text-center">حق اولاد</th>
                <th class="text-center"> {{ form.aele_mandi_with_comma }}</th>
                <th class="text-center">
                    {% if form.check_and_get_optional_deduction_episode != 0 %}
                        کسورات اختیاری
                    {% endif %}
                </th>
                <td>
                    {% if form.check_and_get_optional_deduction_episode != 0 %}
                        {{ form.check_and_get_optional_deduction_episode_with_comma }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="text-center"> کارکرد واقعی</th>
                <th class="text-center"> {{ form.real_worktime }} </th>
                <th class="text-center">حق جذب</th>
                <th class="text-center"> {{ form.hagh_jazb }}</th>
                <th class="text-center">
                    {% if form.check_and_get_loan_episode != 0 %}
                        مساعده یا وام
                    {% endif %}
                </th>
                <td>
                    {% if form.check_and_get_loan_episode != 0 %}
                        {{ form.check_and_get_loan_episode_with_comma }}
                    {% endif %}
                </td>
            </tr>

            </tr>
            <tr>
                <th class="text-center"> جمع مرخصی استحقاقی</th>
                <th class="text-center"> {{ form.entitlement_leave_day }} </th>
                <th class="text-center">پایه سنوات</th>
                <th class="text-center"> {{ form.sanavat_mahane_with_comma }}</th>
                <th class="text-center"></th>
                <th class="text-center"></th>

            </tr>
            <tr>
                <th class="text-center"> جمع مرخصی استعلاجی</th>
                <th class="text-center"> {{ form.illness_leave_day }} </th>
                <th class="text-center">حق سنوات</th>
                <th class="text-center"> {{ form.haghe_sanavat_total_with_comma }}</th>
                <th class="text-center"></th>
                <th class="text-center"></th>

            </tr>
            <tr>
                <th class="text-center"> روز ماموریت</th>
                <th class="text-center"> {{ form.mission_sum }} </th>
                <th class="text-center">مبلغ ماموریت</th>
                <th class="text-center"> {{ form.mission_total_with_comma }}</th>
                <th class="text-center"></th>
                <th class="text-center"></th>

            </tr>
            {% if form.shab_kari_total != 0 %}
                <tr>
                    <th class="text-center">شب کاری(روز)</th>
                    <th class="text-center">{{ form.shab_kari }}</th>
                    <th class="text-center">مبلغ شب کاری</th>
                    <th class="text-center"> {{ form.shab_kari_total_with_comma }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.nobat_kari_sob_shab_total != 0 %}
                <tr>
                    <th class="text-center">نوبت کاری صبح و شب(روز)</th>
                    <th class="text-center">{{ form.nobat_kari_sob_shab }}</th>
                    <th class="text-center">مبلغ نوبت کاری صبح و شب</th>
                    <th class="text-center"> {{ form.nobat_kari_sob_shab_total_with_comma }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.nobat_kari_sob_asr_total != 0 %}
                <tr>
                    <th class="text-center">نوبت کاری صبح و عصر(روز)</th>
                    <th class="text-center">{{ form.nobat_kari_sob_asr }}</th>
                    <th class="text-center">مبلغ نوبت کاری صبح و عصر</th>
                    <th class="text-center"> {{ form.nobat_kari_sob_asr_total_with_comma }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.nobat_kari_asr_shab_total != 0 %}
                <tr>
                    <th class="text-center">نوبت کاری عصر و شب(روز)</th>
                    <th class="text-center">{{ form.nobat_kari_asr_shab }}</th>
                    <th class="text-center">مبلغ نوبت کاری عصر و شب</th>
                    <th class="text-center"> {{ form.nobat_kari_asr_shab_total_with_comma }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.nobat_kari_sob_asr_shab_total != 0 %}
                <tr>
                    <th class="text-center">نوبت کاری صبح، عصر و شب(روز)</th>
                    <th class="text-center">{{ form.nobat_kari_sob_asr_shab }}</th>
                    <th class="text-center">مبلغ نوبت کاری صبح، عصر و شب</th>
                    <th class="text-center"> {{ form.nobat_kari_sob_asr_shab_total_with_comma }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.padash_total != 0 %}
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">عیدی یا پاداش</th>
                    <th class="text-center"> {{ form.padash_total_with_comma }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.haghe_sarparasti != 0 %}
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">حق سرپرستی</th>
                    <th class="text-center"> {{ form.haghe_sarparasti }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.haghe_modiriyat != 0 %}
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">حق مدیریت</th>
                    <th class="text-center"> {{ form.haghe_modiriyat }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.fogholade_shoghl != 0 %}
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">فوق العاده شفل</th>
                    <th class="text-center"> {{ form.fogholade_shoghl }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.haghe_tahsilat != 0 %}
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">حق تحصیلات</th>
                    <th class="text-center"> {{ form.haghe_tahsilat }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.fogholade_sakhti_kar != 0 %}
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">فوق العاده سختی کار</th>
                    <th class="text-center"> {{ form.fogholade_sakhti_kar }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.haghe_ankal != 0 %}
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">حق آنکال</th>
                    <th class="text-center"> {{ form.haghe_ankal }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.fogholade_badi != 0 %}
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">فوق العاده بدی آب و هوا</th>
                    <th class="text-center"> {{ form.fogholade_badi }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.mahroomiat_tashilat_zendegi != 0 %}
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">فوق العاده محرومیت از تسهیلات زندگی</th>
                    <th class="text-center"> {{ form.mahroomiat_tashilat_zendegi }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.fogholade_mahal_khedmat != 0 %}
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">فوق العاده محل خدمت</th>
                    <th class="text-center"> {{ form.fogholade_mahal_khedmat }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.fogholade_sharayet_mohit_kar != 0 %}
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">فوق العاده محیط کار</th>
                    <th class="text-center"> {{ form.fogholade_sharayet_mohit_kar }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.ayabo_zahab != 0 %}
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">ایاب و ذهاب</th>
                    <th class="text-center"> {{ form.ayabo_zahab }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.yarane_ghaza != 0 %}
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">یارانه غذا</th>
                    <th class="text-center"> {{ form.yarane_ghaza }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.haghe_shir != 0 %}
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">حق شیر</th>
                    <th class="text-center"> {{ form.haghe_shir }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.haghe_taahol != 0 %}
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">حق تاهل</th>
                    <th class="text-center"> {{ form.haghe_taahol }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}

            {% if form.komakhazine_mahdekoodak != 0 %}
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">کمک هزینه مهدکودک</th>
                    <th class="text-center"> {{ form.komakhazine_mahdekoodak }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.komakhazine_varzesh_varzesh != 0 %}
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">کمک هزینه ورزش</th>
                    <th class="text-center"> {{ form.komakhazine_varzesh }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.komakhazine_mobile != 0 %}
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">کمک هزینه موبایل</th>
                    <th class="text-center"> {{ form.komakhazine_mobile }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.mazaya_mostamar_gheyre_naghdi != 0 %}
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">مزایای مستمر غیر نقدی</th>
                    <th class="text-center"> {{ form.mazaya_mostamar_gheyre_naghdi }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.mazaya_gheyr_mostamar != 0 %}
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">مزایای غیر مستمر غیر نقدی</th>
                    <th class="text-center"> {{ form.mazaya_gheyr_mostamar }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}
            {% if form.sayer_ezafat != 0 %}
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">سایر اضافات</th>
                    <th class="text-center"> {{ form.sayer_ezafat_with_comma }}</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            {% endif %}


        </table>
    {% endfor %}

</div>


