{% load report_filters %}

<div class="col-sm-12 mt-3">
    {% for form in forms %}
        <table class="table table-bordered table-striped">
            <tr>
                <th class="text-center">کد کارگاه</th>
                <td class="text-center">{{ form.data_for_insurance.DSW_ID }}</td>
            </tr>
            <tr>
                <th class="text-center">سال عملکرد</th>
                <td class="text-center">{{ form.data_for_insurance.DSW_YY }}</td>
            </tr>
            <tr>
                <th class="text-center">ماه عملکرد</th>
                <td class="text-center">{{ form.data_for_insurance.DSW_MM }}</td>
            </tr>
            <tr>
                <th class="text-center">شماره لیست</th>
                <td class="text-center">{{ form.data_for_insurance.DSW_LISTNO }}</td>
            </tr>
            <tr>
                <th class="text-center">شماره بیمه</th>
                <td class="text-center">{{ form.data_for_insurance.DSW_ID1 }}</td>
            </tr>
            <tr>
                <th class="text-center">نام</th>
                <td class="text-center">{{ form.data_for_insurance.DSW_FNAME }}</td>
            </tr>
            <tr>
                <th class="text-center">نام خانوادگی</th>
                <td class="text-center">{{ form.data_for_insurance.DSW_LNAME }} </td>
            </tr>
            <tr>
                <th class="text-center">نام پدر</th>
                <td class="text-center">{{ form.data_for_insurance.DSW_DNAME }}</td>
            </tr>
            <tr>
                <th class="text-center">شماره شناسنامه</th>
                <td class="text-center">{{ form.data_for_insurance.DSW_IDNO }}</td>
            </tr>
            <tr>
                <th class="text-center">محل صدور</th>
                <td class="text-center">{{ form.data_for_insurance.DSW_IDPLC }}</td>
            </tr>
            <tr>
                <th class="text-center">تاریخ صدور</th>
                <td class="text-center">{{ form.data_for_insurance.DSW_IDATE }}</td>
            </tr>
            <tr>
                <th class="text-center">تاریخ تولد</th>
                <td class="text-center">{{ form.data_for_insurance.DSW_BDATE }}</td>
            </tr>
            <tr>
                <th class="text-center">جنسیت</th>
                <td class="text-center">{{ form.data_for_insurance.DSW_SEX }}</td>
            </tr>
            <tr>
                <th class="text-center">ملیت</th>
                <td class="text-center">{{ form.data_for_insurance.DSW_NAT }}</td>
            </tr>
            <tr>
                <th class="text-center">شرح شغل</th>
                <td class="text-center">{{ form.data_for_insurance.DSW_OCP }}</td>
            </tr>
            <tr>
                <th class="text-center">تاریخ شروع به کار</th>
                <td class="text-center">{{ form.data_for_insurance.DSW_SDATE }}</td>
            </tr>
            <tr>
                <th class="text-center">تاریخ ترک کار</th>
                <td class="text-center">{{ form.data_for_insurance.DSW_EDATE }}</td>
            </tr>
            <tr>
                <th class="text-center">تعداد روز های کارکرد</th>
                <td class="text-center">{{ form.data_for_insurance.DSW_DD }}</td>
            </tr>
            <tr>
                <th class="text-center">دستمزد روزانه</th>
                <td class="text-center">{{ form.data_for_insurance.DSW_ROOZ }}</td>
            </tr>
            <tr>
                <th class="text-center">دستمزد ماهانه</th>
                <td class="text-center">{{ form.data_for_insurance.DSW_MAH }}</td>
            </tr>
            <tr>
                <th class="text-center">مزایای ماهانه</th>
                <td class="text-center">{{ form.data_for_insurance.DSW_MAZ }}</td>
            </tr>
            <tr>
                <th class="text-center">مجموع دستمزد و مزایای مشمول</th>
                <td colspan="1" class="text-center">{{ form.data_for_insurance.DSW_MASH }}</td>
            </tr>
            <tr>
                <th class="text-center">مجموع کل دستمزد و مزایای ماهانه</th>
                <td colspan="1" class="text-center">{{ form.data_for_insurance.DSW_TOTL }}</td>
            </tr>
            <tr>
                <th class="text-center">حق بیمه سهم بیمه شده</th>
                <td colspan="1" class="text-center">{{ form.data_for_insurance.DSW_BIME }}</td>
            </tr>
            <tr>
                <th class="text-center">نرخ پورسانتاژ</th>
                <td colspan="1" class="text-center">{{ form.data_for_insurance.DSW_PRATE }}</td>
            </tr>
            <tr>
                <th class="text-center" colspan="1">کد شغل</th>
                <td colspan="2" class="text-center">{{ form.data_for_insurance.DSW_JOB }}</td>
            </tr>
            <tr>
                <th class="text-center" colspan="1">کد ملی</th>
                <td colspan="2" class="text-center">{{ form.data_for_insurance.PER_NATCOD }}</td>
            </tr>

        </table>
    {% endfor %}
</div>
