{% load report_filters %}

<div class="col-sm-12 mt-3">
    <table class="table table-bordered table-striped">

        <tr>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>نام پدر</th>
            <th>تاریخ تولد</th>
            <th>کد ملی</th>
            <th>کد پرسنلی</th>
            <th>تلفن</th>
            <th>موبایل</th>
            <th>وضعیت پرسنل</th>
            <th>نهایی</th>

        </tr>
        {% for form in forms %}
            <tr>
                {% if form.name %}
                    <td>{{ form.name }}</td>
                {% endif %}
                {% if not form.name %}
                    <td> -</td>
                {% endif %}

                {% if form.last_name %}
                    <td>{{ form.last_name }}</td>
                {% endif %}
                {% if not form.last_name %}
                    <td> -</td>
                {% endif %}

                {% if form.father_name %}
                    <td>{{ form.father_name }}</td>
                {% endif %}
                {% if not form.father_name %}
                    <td> -</td>
                {% endif %}

                {% if form.date_of_birth %}
                    <td>{{ form.date_of_birth }}</td>
                {% endif %}
                {% if not form.date_of_birth %}
                    <td> -</td>
                {% endif %}

                {% if form.national_code %}
                    <td>{{ form.national_code }}</td>
                {% endif %}
                {% if not form.national_code %}
                    <td> -</td>
                {% endif %}

                {% if form.personnel_code %}
                    <td>{{ form.personnel_code }}</td>
                {% endif %}
                {% if not form.personnel_code %}
                    <td> -</td>
                {% endif %}

                {% if form.phone_number %}
                    {% if form.city_phone_code %}
                        <td>{{ form.phone_number }} - {{ form.city_phone_code }} </td>
                    {% endif %}
                {% endif %}
                {% if not form.phone_number %}
                    {% if not form.city_phone_code %}
                        <td> -</td>
                    {% endif %}
                {% endif %}

                {% if form.mobile_number_1 %}
                    <td>{{ form.mobile_number_1 }}</td>
                {% endif %}
                {% if not form.mobile_number_1 %}
                    <td> -</td>
                {% endif %}


                <td>{{ form.active_display }}</td>
                <td>{{ form.verify_display }}</td>

            </tr>
        {% endfor %}
    </table>
</div>
