{% load report_filters %}

<div class="col-sm-12 mt-3">
    <table class="table table-bordered table-striped">
        <tr>
            <th class="text-center" colspan="4">فرم تسویه حساب پرسنل</th>
        </tr>
        <tr>
            <th class="text-center">تاریخ محاسبه</th>
            <td class="text-center">{{ now }}</td>
            <th class="text-center">جزییات حقوق و دستمزد</th>
            <td class="text-center">مبالغ به ريال</td>
        </tr>
        <tr>
            <th class="text-center">نام</th>
            <td class="text-center">{{ form.personnel.name }} </td>
            <th class="text-center">پایه حقوق</th>
            <td class="text-center">{{ settlement.hr.hoghooghe_roozane_amount }}</td>
        </tr>

        <tr>
            <th class="text-center"> نام خانوادگی</th>
            <td class="text-center">{{ form.personnel.last_name }} </td>
            <th class="text-center">بن کارگری</th>
            <td class="text-center">{{ settlement.hr.bon_kharo_bar_amount }}</td>
        </tr>
        <tr>
            <th class="text-center"> کد ملی</th>
            <td class="text-center">{{ form.personnel.national_code }} </td>
            <th class="text-center">حق مسکن</th>
            <td class="text-center">{{ settlement.hr.haghe_maskan_amount }}</td>
        </tr>

        <tr>
            <th class="text-center"> تاریخ شروع خدمت</th>
            <td class="text-center"> {{ form.employment_date }}</td>
            <th class="text-center">ایاب و ذهاب</th>
            <td class="text-center">{{ settlement.hr.ayabo_zahab_amount }}</td>

        </tr>

        <tr>
            <th class="text-center"> تاریخ پایان خدمت</th>
            <td class="text-center"> {{ form.quit_job_date }}</td>
            <th class="text-center">حق اولاد</th>
            <td class="text-center">{{ form.last_haghe_owlad }}</td>

        </tr>

        <tr>
            <th class="text-center"> غیبت</th>
            <td class="text-center"> {{ form.absence_total }}</td>
                <th class="text-center">حق مدیریت</th>
                <td class="text-center"> {{ settlement.hr.haghe_modiriyat_amount }}</td>

        </tr>
        <tr>
            <th class="text-center"> جمع</th>
            <td class="text-center"> {{ form.real_work }}</td>
            <th class="text-center">حق سرپرستی</th>
            <td class="text-center"> {{ settlement.hr.haghe_sarparasti_amount }}</td>
        </tr>
        {% if settlement.hr.fogholade_shoghl_amount != 0 %}
            <tr>
                <th class="text-center" colspan="2"></th>
                <th class="text-center">فوق العاده شفل</th>
                <td class="text-center"> {{ settlement.hr.fogholade_shoghl_amount }}</td>
            </tr>
        {% endif %}
        {% if settlement.hr.haghe_tahsilat_amount != 0 %}
            <tr>
                <th class="text-center" colspan="2"></th>
                <th class="text-center">حق تحصیلات</th>
                <td class="text-center"> {{ settlement.hr.haghe_tahsilat_amount }}</td>
            </tr>
        {% endif %}
        {% if settlement.hr.fogholade_sakhti_kar_amount != 0 %}
            <tr>
                <th class="text-center" colspan="2"></th>
                <th class="text-center">فوق العاده سختی کار</th>
                <td class="text-center"> {{ settlement.hr.fogholade_sakhti_kar_amount }}</td>
            </tr>
        {% endif %}
        {% if settlement.hr.haghe_ankal_amount != 0 %}
            <tr>
                <th class="text-center" colspan="2"></th>
                <th class="text-center">حق آنکال</th>
                <td class="text-center"> {{ settlement.hr.haghe_ankal_amount }}</td>
            </tr>
        {% endif %}
        {% if settlement.hr.fogholade_badi_abohava_amount != 0 %}
            <tr>
                <th class="text-center" colspan="2"></th>
                <th class="text-center">فوق العاده بدی آب و هوا</th>
                <td class="text-center"> {{ settlement.hr.fogholade_badi_abohava_amount }}</td>
            </tr>
        {% endif %}
        {% if settlement.hr.mahroomiat_tashilat_zendegi_amount != 0 %}
            <tr>
                <th class="text-center" colspan="2"></th>
                <th class="text-center">فوق العاده محرومیت از تسهیلات زندگی</th>
                <td class="text-center"> {{ settlement.hr.mahroomiat_tashilat_zendegi_amount }}</td>
            </tr>
        {% endif %}
        {% if settlement.hr.fogholade_mahal_khedmat_amount != 0 %}
            <tr>
                <th class="text-center" colspan="2"></th>
                <th class="text-center">فوق العاده محل خدمت</th>
                <td class="text-center"> {{ settlement.hr.fogholade_mahal_khedmat_amount }}</td>
            </tr>
        {% endif %}
        {% if settlement.hr.fogholade_sharayet_mohit_kar_amount != 0 %}
            <tr>
                <th class="text-center" colspan="2"></th>
                <th class="text-center">فوق العاده محیط کار</th>
                <td class="text-center"> {{ settlement.hr.fogholade_sharayet_mohit_kar_amount }}</td>
            </tr>
        {% endif %}
        {% if settlement.hr.yarane_ghaza_amount != 0 %}
            <tr>
                <th class="text-center" colspan="2"></th>
                <th class="text-center">یارانه غذا</th>
                <td class="text-center"> {{ settlement.hr.yarane_ghaza_amount }}</td>
            </tr>
        {% endif %}
        {% if settlement.hr.haghe_shir_amount != 0 %}
            <tr>
                <th class="text-center" colspan="2"></th>
                <th class="text-center">حق شیر</th>
                <td class="text-center"> {{ settlement.hr.haghe_shir_amount }}</td>
            </tr>
        {% endif %}
        {% if settlement.hr.haghe_taahol_amount != 0 %}
            <tr>
                <th class="text-center" colspan="2"></th>
                <th class="text-center">حق تاهل</th>
                <td class="text-center"> {{ settlement.hr.haghe_taahol_amount }}</td>
            </tr>
        {% endif %}

        {% if settlement.hr.komakhazine_mahdekoodak_amount != 0 %}
            <tr>
                <th class="text-center" colspan="2"></th>
                <th class="text-center">کمک هزینه مهدکودک</th>
                <td class="text-center"> {{ settlement.hr.komakhazine_mahdekoodak_amount }}</td>
            </tr>
        {% endif %}
        {% if settlement.hr.komakhazine_varzesh_amount != 0 %}
            <tr>
                <th class="text-center" colspan="2"></th>
                <th class="text-center">کمک ورزش</th>
                <td class="text-center"> {{ settlement.hr.komakhazine_varzesh_amount }}</td>
            </tr>
        {% endif %}
        {% if settlement.hr.komakhazine_mobile_amount != 0 %}
            <tr>
                <th class="text-center" colspan="2"></th>
                <th class="text-center">کمک موبایل</th>
                <td class="text-center"> {{ settlement.hr.komakhazine_mobile_amount }}</td>
            </tr>
        {% endif %}
        {% if settlement.hr.mazaya_mostamar_gheyre_naghdi_amount != 0 %}
            <tr>
                <th class="text-center" colspan="2"></th>
                <th class="text-center">مزایای مستمر غیر نقدی</th>
                <td class="text-center"> {{ settlement.hr.mazaya_mostamar_gheyre_naghdi_amount }}</td>
            </tr>
        {% endif %}
        <tr>
            <th class="text-center" colspan="2"> شرح مطالبات کارمند</th>
            <th class="text-center" colspan="2"> مبالغ به ريال</th>
        </tr>

        <tr>
            <td class="text-center" colspan="2"> مطالبات حقوق</td>
            <td class="text-center" colspan="2"> {{ settlement.bes.hoghoogh }}</td>
        </tr>

        <tr>
            <td class="text-center" colspan="2"> ذخیره ایام مرخصی</td>
            <td class="text-center" colspan="2"> {{ settlement.bes.total_save_leave }}</td>
        </tr>
        {% if settlement.identification %}
            <tr>
                <td class="text-center" colspan="2"> عیدی</td>
                <td class="text-center" colspan="2"> {{ settlement.bes.eydi }}</td>
            </tr>
            <tr>
                <td class="text-center" colspan="2"> حق سنوات</td>
                <td class="text-center" colspan="2"> {{ settlement.bes.haghe_sanavat }}</td>
            </tr>
        {% endif %}
        <tr>
            <td class="text-center" colspan="2"> جمع ناخالص دریافتی</td>
            <td class="text-center" colspan="2">  {{ settlement.bes.total }}</td>
        </tr>
        <tr>
            <th class="text-center" colspan="2"> شرح بدهی های کارمند</th>
            <th class="text-center" colspan="2"> مبالغ به ريال</th>
        </tr>
        <tr>
            <td class="text-center" colspan="2"> وام</td>
            <td class="text-center" colspan="2"> {{ settlement.bed.loan }}</td>
        </tr>
        <tr>
            <td class="text-center" colspan="2"> مساعده</td>
            <td class="text-center" colspan="2"> {{ settlement.bed.dept }}</td>
        </tr>
        <tr>
            <td class="text-center" colspan="2"> کسورات اختیاری</td>
            <td class="text-center" colspan="2"> {{ settlement.bed.deduction }}</td>
        </tr>
        <tr>
            <td class="text-center" colspan="2"> جمع ناخالص بدهی کارمند</td>
            <td class="text-center" colspan="2"> {{ settlement.bed.total }}</td>
        </tr>
        <tr>
            <th class="text-center" colspan="2"> خالص قابل پرداخت</th>
            <th class="text-center" colspan="2"> {{ settlement.total }}</th>
        </tr>
        <tr>
            <td colspan="4" class="pr-4 pt-5 pb-5">
                اینجانب {{ form.personnel.full_name }} فرزند {{ form.personnel.father_name }} بدین وسیله تایید می نمایم
                که در تاریخ {{ form.quit_job_date }} کلیه مطالبات خود را اعم از حقوق ، عیدی ، سنوات ، بازخرید ، مرخصی و
                ...
                خود را از شرکت {{ form.workshop.workshop_title }} دریافت نموده ام و از این تاریخ به بعد حق هیچ گونه
                اعتراض و ادعایی نسبت به آن شرکت نداشته و نخواهم داشت.
            </td>
        </tr>
        <tr>
            <th class="text-left pl-5 pb-5 pt-5" colspan="2">
                امضا و اثر انگشت کارمند
            </th>
            <th class="text-left pl-5 pb-5 pt-5" colspan="2">
                امضا کارفرما
            </th>
        </tr>


    </table>

</div>
