<div class="col-sm-12 mt-3">
    <table class="table table-bordered table-striped">
        <tr>
            <th>کد</th>
            <th>قرارداد</th>
            <th>تاریخ جدید قرارداد</th>
            <th>مبلغ تغییر</th>
            <th>تاریخ ثبت الحاقیه</th>
            <th>توضیحات</th>
        </tr>
        {% for form in forms %}
            <tr>
                <td>{{ form.code }}</td>
                <td>{{ form.contract }}</td>
                <td>{{ form.new_contract_date }}</td>
                <td>{{ form.value }}</td>
                <td>{{ form.date }}</td>
                <td>{{ form.explanation }}</td>
            </tr>
        {% endfor %}
        <tr>


            <th class="text-center" colspan="3">
                جمع :
            </th>
            <td>
                {{ mySum }}
            </td>
            <td colspan="2"></td>

        </tr>

    </table>
</div>