{% load report_filters %}

<div class="col-sm-12 mt-3">
    <table class="table table-bordered table-striped">

        <tr>
            <th>کد کارگاه</th>
            <th>نام کارگاه</th>
            <th>نام کارفرما</th>
            <th>آدرس کارگاه</th>
            <th>کد پستی</th>
            <th>کد شعبه</th>
            <th>نام شعبه</th>
            <th>وضعییت</th>
            <th>نهایی</th>

        </tr>
        {% for form in forms %}
            <tr>
                <td>{{ form.workshop_code }}</td>
                <td>{{ form.name }}</td>
                <td>{{ form.employer_name }}</td>
                <td>{{ form.address }}</td>
                <td>{{ form.postal_code }}</td>
                <td>{{ form.branch_code }}</td>
                <td>{{ form.branch_name }}</td>
                <td>{{ form.active_display }}</td>
                <td>{{ form.verify_display }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
