* {
    font-family: IRANSans !important;
}

/* Helpers -------------------------------------------- */
.ltr {
    direction: ltr !important;
    text-align: left !important;
}
.break-after {
    page-break-after: always;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
/* /Helpers -------------------------------------------- */

.form-header {
    /* font-weight: bold; */
}
.form-header span {
    font-weight: normal;
    text-align: justify;
}
